{% load i18n thumbnail cms_tags aldryn_people_tags asr_extras %}
<div class="container">
    <article>
        {% if not group %}
            <h2 class="my-5">
        {% else %}
            <h3 class="my-5">
        {% endif %}
        {% if not instance and not detail_view or instance.show_links %}
            {% if person.get_absolute_url %}
                <a href="{{ person.get_absolute_url }}">{{ person.name }}</a>
            {% else %}
                {{ person.name }}
            {% endif %}
        {% else %}
            {% render_model person 'name' %}
        {% endif %}
        <small>{{ person.function }}</small>
        {% if not group %}
            </h2>
        {% else %}
            </h3>
        {% endif %}
        {% if person.visual %}
            <p>
                {% if instance.show_links and person.get_absolute_url %}
                    <a href="{{ person.url }}">
                {% endif %}
                <img class="img-fluid rounded mb-4" src="{{ MEDIA_URL }}{{ person.visual.url }}"
                     alt="{{ person.name }}">
                {% if instance.show_links and person.get_absolute_url %}
                    </a>
                {% endif %}
            </p>
        {% endif %}

        <p>
            {% if person.phone %}
                <div class="mb-4">
                    <strong>{% trans "Phone:" %}  {{ person.phone|linked_phone_number|safe }}</strong>
                </div>
            {% endif %}
            {% if person.mobile %}
                <div class="mb-4">
                    <strong>{% trans "Mobile:" %}  {{ person.mobile|linked_phone_number|safe }}</strong>
                </div>
            {% endif %}
            {% if person.fax %}
                <div class="mb-4">
                    <strong>{% trans "Fax:" %}  {{ person.fax|phone_number|safe }}</strong>
                </div>
            {% endif %}
            {% if person.email %}
                <div class="mb-4">
                    <strong>{% trans "Email:" %}</strong>
                    <a href="mailto:{{ person.email }}">{{ person.email }}</a><br>
                </div>
            {% endif %}
            {% if person.website %}
                <div class="mb-4">
                    <strong>{% trans "Website:" %}</strong>
                    <a href="{{ person.website }}" target="_blank">{{ person.website }}</a><br>
                </div>
            {% endif %}
        </p>
        {% if person.description %}
            {{ person.description|safe }}
        {% endif %}

        {% if not instance and person.vcard_enabled or instance.show_vcard and person.vcard_enabled and person.get_vcard_url %}
            <a href="{{ person.get_vcard_url }}">
                {% trans "Download vCard" %}
            </a>
        {% endif %}
    </article>
</div>
